{% extends "base.html" %}
{% load static %}
{% load templatetags %}
<!-- end mega menu -->

<!-- start main slider -->
{% block content %}
    <div class="main-slider py-20">
        <div class="container-fluid">
            <div class="row gy-3">
                <div class="col-lg-3 order-lg-1 order-2">
                    <div class="swiper" id="suggetMoment">
                        <div class="swiper-wrapper position-relative">
                            {% for slider_product in slider_products %}
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-timer">
                                            {% if slider_product.product.is_discounted %}
                                                <div class="timer-label">
                                                    <span>{{ slider_product.product.discount_percentage }}% تخفیف</span>
                                                </div>
                                            {% endif %}
                                            {#                                            <div class="timer">#}
                                            {#                                                <div class='countdown'#}
                                            {#                                                     data-date="{{ product.expire_date|slider_product }}">#}
                                            {#                                                </div>#}
                                            {#                                            </div>#}
                                        </div>
                                        {% if slider_product.product.image %}
                                            <div class="product-image">
                                                <img src="{{ slider_product.product.image.url }}" loading="lazy" alt=""
                                                     class="img-fluid">
                                            </div>
                                        {% endif %}
                                        <div class="product-title">
                                            <div class="title">
                                                <a href="{% url "product_app:detail" slider_product.product.slug %}"><p
                                                        class="text-overflow-1">{{ slider_product.product.title }}</p>
                                                </a>

                                                <span class="text-muted text-overflow-1">{{ slider_product.product.english_title }}</span>
                                            </div>
                                            {% if slider_product.product.average_review %}
                                                <div class="rating">
                                                    <div class="number"><span class="text-muted font-12">
                                                    ({{ product.len_average_review }}+) {{ slider_product.product.average_review|floatformat:1 }}</span>
                                                    </div>
                                                    <div class="icon"><i class="bi bi-star-fill"></i></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="product-action">
                                            <div class="price">
                                                {% if slider_product.product.is_discounted %}
                                                    <p class="new-price">{{ slider_product.product.discounted_price }}
                                                        تومان</p>
                                                    <p class="old-price">{{ slider_product.product.price }} تومان</p>
                                                {% else %}
                                                    <p class="new-price">{{ slider_product.product.discounted_price }}
                                                        تومان</p>
                                                {% endif %}
                                            </div>
                                            <div class="link">
                                                <button onclick="add_to_cart_store(`{{ slider_product.product.id }}`)"
                                                        class="btn border-0 rounded-3 main-color-one-bg add-to-cart">
                                                    <i class="bi bi-basket text-white"></i>
                                                    <span class="text-white">خرید محصول</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-progress-bar">
                            <span class="slide_progress-bar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="slider shadow-box">
                        <div class="swiper" id="homeSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="">
                                        <img src="{% static "image/product/4090_banner.jpg" %}" loading="lazy"
                                             class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <img src="{% static "image/product/iPhone-13-hero.png" %}" loading="lazy"
                                             class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <img src="{% static "image/product/4090_banner_2.jpg" %}" loading="lazy"
                                             class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-next d-lg-flex d-none"></div>
                            <div class="swiper-button-prev d-lg-flex d-none"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end main slider -->

    <!-- start feature -->

    <div class="feature">
        <div class="container-fluid">
            <div
                    class="row justify-content-center g-2 row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="{% static "image/history.png" %}" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <p class="fw-bold mb-2">ضمانت بازگشت وجه</p>
                            <p class="text-muted font-13  mb-0">در صورت عدم رضایت</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="{% static "image/credit-card.png" %}" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <p class="fw-bold  mb-2">تضمین قیمت</p>
                            <p class="text-muted font-13  mb-0">کمترین قیمت بازار</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="{% static "image/fast.png" %}" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <p class="fw-bold  mb-2">ارسال سریع</p>
                            <p class="text-muted font-13  mb-0">امن و مطمئن</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="{% static "image/headphone.png" %}" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <p class="fw-bold  mb-2">پشتیبانی عالی</p>
                            <p class="text-muted font-13  mb-0">24 ساعته شبانه روز</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="feature-item d-flex align-items-center p-3 rounded-3 bg-white shadow-box">
                        <div class="image">
                            <img src="{% static "image/badge.png" %}" alt="" class="img-fluid">
                        </div>
                        <div class="desc ms-3">
                            <p class="fw-bold  mb-2">اصالت کالا</p>
                            <p class="text-muted font-13  mb-0">تضمین اصالت کالا</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end feature -->

    <!-- start service -->

    <div class="service">
        <div class="container-fluid">
            <div class="row gy-3 justify-content-between align-items-center">
                <div class="col-lg-3">
                    <div class="service-title">
                        <h6 class="font-25 text-white mb-3">
                            بیش از 5000 محصول
                        </h6>
                        <p class="mb-0 text-white font-13">برترین برندهای اصلی و خارجی</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div
                            class="row gy-2 gx-2 service-logo justify-content-md-end justify-content-center align-items-center">
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-1.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-2.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-3.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-4.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-5.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-2 col-4 item">
                            <a href="">
                                <img src="{% static "image/brand1-6.png" %}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end service -->

    <!-- start category -->

    <div class="category py-20">
        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">دسته بندی<span
                            class="main-color-one-color d-inline-block ms-1">محصولات</span></h5>
                </div>
                <div class="link">
                    <a href="{% url "product_app:store" %}" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="category-items">
                <div class="row gy-3 justify-content-center">
                    {% for category in categories %}
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="category-item p-3 rounded-3 bg-white shadow-box">
                                <a href="">
                                    <div
                                            class="d-flex align-items-center justify-content-md-flex-start justify-content-between">
                                        <div class="image">
                                            {% if category.image %}
                                                <img class="rounded" src="{{ category.image.url }}" alt=""
                                                     class="img-fluid">
                                            {% endif %}
                                        </div>
                                        <div class="text ms-3">
                                            <p class="text-center font-14 text-overflow-1">{{ category.title }}</p>
                                            <a href="{% url "product_app:store" %}?category={{ category.title }}"
                                               class="btn text-muted-two btn-sm font-14 px-3 light-btn shadow-sm"><span>مشاهده</span>
                                                <i
                                                        class="bi bi-chevron-double-left font-16 main-color-one-color ms-2"></i></a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- end category -->

    <!-- start category -->

    <div class="amazing py-20">
        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">اسلایدر<span class="main-color-one-color d-inline-block ms-1">شگفت
                            انگیز</span></h5>
                </div>
                <div class="link">
                    <a href="{% url "product_app:store" %}" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="amazing-slider">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="amazing-pro-parent">
                            <div class="swiper amazing-slider-slider">
                                <div class="swiper-wrapper">
                                    {% for slider_product in slider_products %}
                                        <div class="swiper-slide">
                                            <div class="slider-item rounded-3 shadow-box bg-white">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="image">
                                                            <img src="{{ slider_product.product.image.url }}"
                                                                 loading="lazy"
                                                                 class="img-fluid" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="desc mt-3">
                                                            <div class="title">
                                                                <div class="d-flex align-items-center flex-wrap">
                                                                    <h3 class="text-overflow-1 font-18 me-2">{{ product.title }}</h3>
                                                                    {% if slider_product.product.is_discounted %}
                                                                        <span class="discount danger-label mt-sm-0 mt-3">{{ slider_product.product.discount_percentage }}%
                                                                    تخفیف</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="short-desc mt-3">
                                                                <p class="mb-2 text-overflow-3 text-muted">
                                                                    {{ slider_product.product.description|truncatewords:20 }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="meta">
                                                            <ul class="navbar-nav flex-lg-row justify-content-between">
                                                                {% for detail in product.product_details.all %}
                                                                    {% if detail.property %}
                                                                        <li class="nav-item"><span
                                                                                class="nav-link text-overflow-1 font-14 fw-bold">
                                                                    {{ detail.property }}</span></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <div
                                                                class="foot mt-3 d-flex justify-content-between align-items-center flex-wrap">
                                                            <div class="price d-flex align-items-center">
                                                                {% if slider_product.product.is_discounted %}
                                                                    <h6 class="font-25 main-color-one-color">{{ slider_product.product.discounted_price }}</h6>
                                                                    <h6 class="font-12 ms-1">هزار تومان</h6>
                                                                    <h6 class="font-13 old-price ms-2">{{ slider_product.product.price }}</h6>
                                                                {% else %}
                                                                    <h6 class="font-25 main-color-one-color">{{ slider_product.product.price }}</h6>
                                                                    <h6 class="font-12 ms-1">هزار تومان</h6>
                                                                {% endif %}
                                                            </div>
                                                            <div class="link">
                                                                <button onclick="add_to_cart_store(`{{ slider_product.product.id }}`)"
                                                                        type="submit"
                                                                        class="btn border-0 rounded-3 main-color-one-bg
                                                                        add-to-cart">
                                                                    <i class="bi bi-basket text-white"></i>
                                                                    <span class="text-white">خرید محصول</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-pagination d-lg-none d-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-lg-block d-none">
                        <div class="parent">
                            <div class="swiper amazing-slider-link">
                                <div class="swiper-wrapper">
                                    {% for slider_product in slider_products %}
                                        <div class="swiper-slide">
                                            <div class="item">
                                                <div class="row gy-2">
                                                    <div class="col-4">
                                                        <div class="image">
                                                            <img src="{{ slider_product.product.image.url }}"
                                                                 loading="lazy"
                                                                 alt="" class="img-fluid">
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="title">
                                                            <h6 class="font-14 text-overflow-2">
                                                                <a href="{% url "product_app:detail" slider_product.product.slug %}">{{ product.title }}</a>
                                                            </h6>
                                                            <p class="mb-0 text-muted font-12 mt-2 text-overflow-2">
                                                                {{ slider_product.product.english_title }}</p>
                                                        </div>
                                                        <div class="price">
                                                            {% if product.is_discount %}
                                                                <p class="text-end new-price mb-2 price-off fw-bold"><span
                                                                        class="main-color-one-color">{{ slider_product.product.discounted_price }}</span>
                                                                    <small
                                                                            class="font-11">تومان</small></p>
                                                                <p class="text-end old-price price-discount">{{ slider_product.product.price }}
                                                                    <small
                                                                            class="font-11">تومان</small></p>
                                                            {% else %}
                                                                <p class="text-end new-price mb-2 price-off fw-bold"><span
                                                                        class="main-color-one-color">{{ slider_product.product.price }}</span>
                                                                    <small
                                                                            class="font-11">تومان</small></p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        No product for sliding
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end category -->

    <!-- start product slider -->

    <div class="product-slider site-slider py-20">
        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3"><span class="main-color-one-color d-inline-block ms-1">پرفروشترین
                            محصولات</span> فروشگاه</h5>
                </div>
                <div class="link">
                    <a href="{% url "product_app:store" %}" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="container-fluid">
                <div class="swiper" id="product-slider">
                    <div class="swiper-wrapper">
                        {% for slider_product in slider_products %}
                            <div class="swiper-slide">
                                <div class="product-box ">
                                    <div class="product-timer">
                                        {% if slider_product.product.is_discounted %}
                                            <div class="timer-label">
                                                <span>{{ slider_product.product.discount_percentage }}% تخفیف</span>
                                            </div>
                                        {% endif %}
                                        <div class="product-header-btn">
                                            <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-bs-title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <img src="{{ slider_product.product.image.url }}" loading="lazy" alt=""
                                             class="img-fluid one-image">
                                    </div>
                                    <div class="product-title">
                                        <div class="title">
                                            <p class="text-overflow-1">{{ slider_product.product.english_title }}</p>
                                            <span class="text-muted text-overflow-1">{{ slider_product.product.title }}
                                            </span>
                                        </div>
                                        <div class="rating">
                                            <div class="number"><span
                                                    class="text-muted font-12">({{ slider_product.product.len_average_review }}+) {{ slider_product.product.average_review }}</span>
                                            </div>
                                            <div class="icon"><i class="bi bi-star-fill"></i></div>
                                        </div>
                                    </div>
                                    <div class="product-action">
                                        {% if slider_product.product.is_discounted %}
                                            <div class="price">
                                                <p class="new-price">{{ slider_product.product.discounted_price }}
                                                    تومان</p>
                                                <p class="old-price">{{ slider_product.product.price }}0
                                                    تومان</p>
                                            </div>
                                        {% else %}
                                            <div class="price">
                                                <p class="new-price">{{ slider_product.product.price }}
                                                    تومان</p>
                                            </div>
                                        {% endif %}
                                        <div class="link">
                                            <a href="" class="btn border-0 rounded-3 main-color-one-bg">
                                                <i class="bi bi-basket text-white"></i>
                                                <span class="text-white">خرید محصول</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- end product slider -->

    <!-- start banner -->

    <div class="banner py-20">
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-lg-3 col-6">
                    <a href="">
                        <img src="{% static "image/banner-1.webp" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="">
                        <img src="{% static "image/banner-2.webp" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="">
                        <img src="{% static "image/banner-3.webp" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-6">
                    <a href="">
                        <img src="{% static "image/banner-4.webp" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- end banner -->

    <!-- start new product -->

    <div class="products-row py-20">
        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3"><span class="main-color-one-color d-inline-block ms-1">پرفروشترین
                            محصولات</span> فروشگاه</h5>
                </div>
                <div class="link">
                    <a href="{% url "product_app:store" %}" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
            <div class="parent">
                <div class="row g-3">
                    {% for slider_product in slider_products %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="item bg-white p-2 shadow-box rounded-3">
                                <div class="row gy-2 align-items-center">
                                    <div class="col-4">
                                        <div class="image">
                                            <img src="{{ slider_product.product.image.url }}" width="100" height="100"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div class="number me-2">
                                                <h4 class="font-22 main-color-one-color">1</h4>
                                            </div>
                                            <a href="{% url "product_app:detail" slider_product.product.slug %}">
                                                <div class="title">
                                                    <h6 class="font-14 text-overflow-2">{{ slider_product.product.english_title }}</h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- end new product -->

    <!-- start banner -->

    <div class="banner py-20">
        <div class="container-fluid">
            <div class="row g-3">
                <div class="col-sm-4">
                    <a href="">
                        <img src="{% static "image/banner-11.jpg" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <img src="{% static "image/banner-12.jpg" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <img src="{% static "image/banner-13.jpg" %}" class="img-fluid rounded-3 shadow-box" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- end banner -->


    <!-- start blog -->

    <div class="blog-slider site-slider site-slider-sm py-20">

        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">آخرین مطالب <span class="main-color-one-color d-inline-block">وبلاگ</span>
                    </h5>
                </div>
                <div class="link">
                    <a href="{% url "weblog_app:blog_list" %}" class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="parent">
            <div class="container-fluid">
                <div class="swiper" id="product-slider">
                    <div class="swiper-wrapper">
                        {% for blog in latest_blogs %}
                            <div class="swiper-slide">
                                <div class="blog-item">
                                    <a href="{% url "weblog_app:detail_blog" blog.slug %}">
                                        <div class="image">
                                            <img src="{{ blog.main_image.url }}" alt="" class="img-fluid">
                                        </div>
                                        <div class="title">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="title-item">
                                                    <i class="bi bi-tag me-1"></i>
                                                    <span class="font-12">{{ blog.category.all.0 }}</span>
                                                </div>
                                                <div class="title-item">
                                                    <i class="bi bi-alarm me-1"></i>
                                                    <span class="font-12">{{ blog.created_at|jdate_year }}</span>
                                                </div>
                                            </div>
                                            <h4 class="font-16 text-overflow-1 h4">{{ blog.main_title }}
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- end blog -->
