{% load static %}
<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "font/bootstrap-icon/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "plugin/waves/waves.min.css" %}">
    <link rel="stylesheet" href="{% static "plugin/swiper/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "plugin/timer/timer.css" %}">
    <link rel="stylesheet" href="{% static "plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
</head>

<body>


<!-- start content -->

<div class="content">
    <div class="container-fluid">
        <div class="vh-100">
            <div class="row gy-2 justify-content-center align-items-center h-100">
                <div class="col-md-6">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="title-panel">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="font-18">فرم ورود</h6>
                                    <a href="{% url "home_app:main" %}">
                                        <img src="{% static "image/logo.png" %}" alt="" class="img-fluid" width="150">
                                    </a>
                                </div>
                            </div>
                            {% if error %}
                                <div class="error">
                                    <li style="font-weight: bold" class="text-danger">{{ error }}</li>
                                </div>
                            {% endif %}

                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <div class="error">
                                        <li style="font-weight: bold" class="text-danger">{{ error }}</li>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <div class="error">
                                        <li style="font-weight: bold" class="text-danger">{{ error }}</li>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <br>
                            <form action="{% url "accounts_app:login_page" %}" id="form-auth" method="post">
                                {% csrf_token %}
                                <div class="form-group step-username">
                                    <label for="username" class="form-label font-18">شماره تلفن :</label>
                                    {{ form.phone }}
                                </div>
                                <div class="form-group step-username">
                                    <label for="username" class="form-label font-18">رمز عبور :</label>
                                    {{ form.password }}
                                </div>
                                <div class="form-group py-4">
                                    <a href="{% url "accounts_app:pass_change_page" %}" class="main-color-one-color">رمز
                                        عبور را فراموش کردم
                                        <i
                                                class="bi bi-chevron-left font-14 main-color-one-color"></i></a>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn border-0 main-color-one-bg w-100 py-3">ورود
                                    </button>
                                </div>
                                <div class="form-group py-4">
                                    <a href="{% url "accounts_app:register_page" %}" class="main-color-one-color">ثبت
                                        نام کنید!
                                        <i
                                                class="bi bi-chevron-left font-14 main-color-one-color"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>