{% extends "base.html" %}
{% load static %}
{% load templatetags %}
{% block content %}
    <div class="content">
        <div class="container-fluid">

            <!-- start side-menu in mobile -->
            <div class="custom-filter d-lg-none d-block">
                <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-4 rounded-3 position-fixed"
                        style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-list font-20 fw-bold text-white"></i>
                    <span class="d-block font-14 text-white">منو</span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">منو</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="panel-side">
                            <div class="content-box pb-0">
                                <div class="container-fluid">
                                    <div class="panel-box">
                                        <div class="d-flex align-items-center">
                                            {% if request.user.prof_pic %}
                                                <img src="{{ request.user.prof_pic.url }}"
                                                     class="img-fluid img-profile-panel rounded-circle me-3 shadow-md"
                                                     alt="">
                                            {% else %}
                                                <img src="{% static "image/user.png" %}"
                                                     class="img-fluid img-profile-panel rounded-circle me-3 shadow-md"
                                                     alt="">
                                            {% endif %}
                                            <div class="d-grid gap-2">
                                                <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                                <h6 class="font-14">{{ request.user.full_name }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-box">
                                        <nav class="navbar profile-box-nav">
                                            <ul class="navbar-nav flex-column">
                                                <li class="nav-item {% if request.resolver_match.url_name == "user_panel" %}active{% endif %}">
                                                    <a href="{% url "accounts_app:user_panel" %}" class="nav-link">
                                                        <i class="bi bi-house-door"></i>پروفایل</a>
                                                </li>
                                                <li class="nav-item {% if request.resolver_match.url_name == "purchases" %}active{% endif %}">
                                                    <a href="{% url "cart_app:purchases" %}" class="nav-link">
                                                        <i class="bi bi-cart-check"></i>سفارش های من <span
                                                            class="badge rounded-pill badge-spn">{{ user_purchase|length }}</span></a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-pin-map"></i>آدرس های من</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-bell"></i>پیام ها و اطلاعیه ها</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-chat-dots"></i>نظرات من</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-question-circle"></i>درخواست پشتیبانی</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-heart"></i>محصولات مورد علاقه</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-gift"></i>کد های تخفیف من</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end side-menu in mobile -->

            <div class="dashboard-panel">
                <div class="row gy-3">
                    <div class="col-lg-3 d-lg-block d-none">
                        <div class="panel-side">
                            <div class="content-box pb-0">
                                <div class="container-fluid">
                                    <div class="panel-box">
                                        <div class="d-flex align-items-center">
                                            {% if request.user.prof_pic %}
                                                <img src="{{ request.user.prof_pic.url }}"
                                                     class="img-fluid img-profile-panel rounded-circle me-3 shadow-md"
                                                     alt="">
                                            {% else %}
                                                <img src="{% static "image/user.png" %}"
                                                     class="img-fluid img-profile-panel rounded-circle me-3 shadow-md"
                                                     alt="">
                                            {% endif %}
                                            <div class="d-grid gap-2">
                                                <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                                <h6 class="font-14">{{ request.user.full_name }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-box">
                                        <nav class="navbar profile-box-nav">
                                            <ul class="navbar-nav flex-column">
                                                <li class="nav-item {% if request.resolver_match.url_name == "user_panel" %}active{% endif %}">
                                                    <a href="{% url "accounts_app:user_panel" %}" class="nav-link">
                                                        <i class="bi bi-house-door"></i>پروفایل</a>
                                                </li>
                                                <li class="nav-item {% if request.resolver_match.url_name == "purchases" %}active{% endif %}">
                                                    <a href="{% url "cart_app:purchases" %}" class="nav-link">
                                                        <i class="bi bi-cart-check"></i>سفارش های من <span
                                                            class="badge rounded-pill badge-spn">{{ user_purchase|length }}</span></a>
                                                </li>
                                                {#                                                <li class="nav-item"><a href="" class="nav-link">#}
                                                {#                                                    <i class="bi bi-pin-map"></i>آدرس های من</a>#}
                                                {#                                                </li>#}
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-bell"></i>پیام ها و اطلاعیه ها</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-chat-dots"></i>نظرات من</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-question-circle"></i>درخواست پشتیبانی</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-heart"></i>محصولات مورد علاقه</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">
                                                    <i class="bi bi-gift"></i>کد های تخفیف من</a>
                                                </li>
                                                <li class="nav-item"><a href="{% url "accounts_app:logout_page" %}"
                                                                        class="nav-link">
                                                    <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="row gy-3">
                                    <div class="col-lg-8">
                                        <h6 class="font-14 main-color-one-color">سلام {{ request.user.full_name }}
                                            عزیز</h6>
                                        <h6 class="font-14 my-3">به فروشگاه سانیار خوش آمدید</h6>
                                        <p class="text-muted">از پیش خوان حساب کاربری خود میتوانید <span
                                                class="def-color fw-bold">آخرین سفارش ها</span>
                                            را ببینید به راحتی آدرس <span class="def-color fw-bold">آدرس حمل و نقل و صورت حساب</span>
                                            را مدیریت کنید
                                            و <span class="def-color fw-bold">اطلاعات حساب کاربری و رمز عبور</span> خود
                                            را تغییر دهید
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel-image">
                                            <img src="{% static "image/panel.svg" %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="status-panel-user">
                            <div class="row g-3">
                                <div class="col-lg-3 col-6 w-100-in-400">
                                    <a href="">
                                        <div class="content-box">
                                            <div class="container-fluid">
                                                <div class="item">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <div class="icon">
                                                                <i class="bi bi-cart main-color-one-color font-30"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <h6 class="font-16 mb-0">
                                                                سفارشات من <span
                                                                    class="badge rounded-pill badge-spn">{{ user_purchase|length }}</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6 w-100-in-400">
                                    <a href="">
                                        <div class="content-box">
                                            <div class="container-fluid">
                                                <div class="item">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <div class="icon">
                                                                <i class="bi bi-pin-map main-color-one-color font-30"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <h6 class="font-16 mb-0">
                                                                آدرس های من <span
                                                                    class="badge rounded-pill badge-spn">9</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6 w-100-in-400">
                                    <a href="">
                                        <div class="content-box">
                                            <div class="container-fluid">
                                                <div class="item">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <div class="icon">
                                                                <i class="bi bi-person main-color-one-color font-30"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <h6 class="font-16 mb-0">
                                                                <a href="{% url "accounts_app:edit_page" %}">حساب کاربری
                                                                    من</a><span
                                                                    class="badge rounded-pill badge-spn"></span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-6 w-100-in-400">
                                    <a href="">
                                        <div class="content-box">
                                            <div class="container-fluid">
                                                <div class="item">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <div class="icon">
                                                                <i class="bi bi-arrow-right-square main-color-one-color font-30"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <h6 class="font-16 mb-0">
                                                                خروج از حساب <span
                                                                    class="badge rounded-pill badge-spn">5</span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="lastest-order mt-3">
                            <div class="content-box">
                                <div class="container-fluid">
                                    <div class="site-tabel">
                                        <div class="title title-panel d-flex align-items-baseline">
                                            <i class="bi bi-cart-check font-25"></i>
                                            <h6 class="font-16 ms-2"> آخرین <span
                                                    class="main-color-one-color">سفارشات</span></h6>
                                        </div>
                                        {#                                        {% for product in user_purchase_products|slice:3 %}#}
                                        {% for product in latest_purchases %}
                                            <div class="site-tabel-content">
                                                <div class="image st-dv st-dv-1">
                                                    <img src="{{ product.product.image.url }}" alt="" class="img-fluid">
                                                </div>
                                                <div class="pro-title st-dv st-dv-2">
                                                    <p class="fw-bold mb-0">{{ product.product.title }}</p>
                                                </div>
                                                <div class="order-detail st-dv st-dv-3">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-muted">کد سفارش</p>
                                                        <p class="mb-0 ms-2 fw-bold">{{ product.order.order_number }}</p>
                                                    </div>
                                                    <p class="mb-0 text-muted mt-2">{{ product.order.created_at.date|jdate }}</p>
                                                </div>
                                                <div class="order-detail st-dv st-dv-4">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 text-muted">مبلغ</p>
                                                        <p class="mb-0 ms-2 fw-bold">{{ product.order.total_price }}
                                                            تومان</p>
                                                    </div>
                                                    <p class="mb-0 fw-bold mt-2"><i
                                                            class="bi bi-check-circle-fill main-color-three-color"></i>
                                                        تحویل داده شده</p>
                                                </div>
                                                <div class="order-detail st-dv st-dv-5">
                                                    <a href="">
                                                        <div class="d-flex align-items-center">
                                                            <i class="bi bi-printer me-2 main-color-one-color"></i>
                                                            <a href="{% url "cart_app:factor_page" product.id %}"
                                                               class="mb-0 main-color-one-color fw-bold">مشاهده
                                                                فاکتور</a>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}