{% load static %}
{% load templatetags %}
{% for product in products %}
    <form action="{% url "cart_app:cart_add_store" product.id %}" method="POST"
          id="{{ product.id }}-{{ product.slug }}">
        {% csrf_token %}
        <div class="col-lg-4">
            <div class="product-box ">
                <div class="product-timer">
                    {% if product.discount %}
                        <div class="timer-label">
                            <span>{{ product.discount }}% تخفیف</span>
                        </div>
                    {% endif %}
                    <div class="product-header-btn">
                        <a href="" class="" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-title="مقایسه"><i class="bi bi-shuffle"></i></a>
                        <a onclick="like('{{ product.slug }}', {{ product.id }})"
                           data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-title="افزودن به علاقه مندی ها"><i
                                class="{% if product.id|is_liked:request is True %}bi bi-heart-fill{% else %}bi bi-heart{% endif %}"
                                id="{{ product.slug }}"></i></a>
                        <a href="" class="" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-title="مشاهده سریع"><i class="bi bi-eye"></i></a>
                    </div>
                </div>
                <div class="product-image">
                    <img src="{{ product.image.url }}" loading="lazy" alt=""
                         class="img-fluid one-image">
                    <img src="{{ product.image.url }}" loading="lazy" alt=""
                         class="img-fluid two-image">
                </div>
                <div class="product-title">
                    <div class="title">
                        <p class="text-overflow-1"><a
                                href="{% url "product_app:detail" product.slug %}">{{ product.title }}</a>
                        </p>
                        <span class="text-muted text-overflow-1">{{ product.english_title }}</span>
                    </div>
                    {% if product.averagereview %}
                        <div class="rating">
                            <div class="number"><span class="text-muted font-12">
                                                    {{ product.averagereview|floatformat:1 }}</span>
                            </div>
                            <div class="icon"><i class="bi bi-star-fill"></i></div>
                        </div>
                    {% endif %}
                </div>
                <div class="product-action">
                    <div class="price">
                        {% if product.discount %}
                            <p class="new-price">{{ product.discount_price }} تومان</p>
                            <p class="old-price">{{ product.price }} تومان</p>
                        {% else %}
                            <p class="new-price">{{ product.price }} تومان</p>
                        {% endif %}
                    </div>
                    <script type="text/javascript">
                        $("#{{ product.id }}-{{ product.slug }}").submit(function (e) {
                            e.preventDefault();
                            $.ajax({
                                data: $(this).serialize(),
                                method: $(this).attr('method'),
                                url: $(this).attr('action'),
                                dataType: "json",

                                success: function (response) {
                                    console.log("success!");
                                    if (response.bool === true) {
                                        $("#add-to-cart-store").html(response.data)
                                        $("#totalcartitems").text(response.totalcartitems)
                                        $("#totalcartitems2").text(response.totalcartitems)
                                    }
                                }
                            })
                        })
                    </script>
                    <div class="link">
                        <button type="submit"
                                class="btn border-0 rounded-3 main-color-one-bg">
                            <i class="bi bi-basket text-white"></i>
                            <span class="text-white">خرید محصول</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% empty %}
    <div align="center">محصولی با این مشخصات یافت نشد!</div>
{% endfor %}