{% load templatetags %}
{% for product in products %}
    <div class="col-lg-4">
        <div class="product-box ">
            <div class="product-timer">
                {% if product.discount %}
                    <div class="timer-label">
                        <span>{{ product.discount }}% تخفیف</span>
                    </div>
                {% endif %}
                <div class="product-header-btn">
                    <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-title="مقایسه"><i class="bi bi-shuffle"></i></a>
                    <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-title="افزودن به علاقه مندی ها"><i
                            class="bi bi-heart"></i></a>
                    <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-title="مشاهده سریع"><i class="bi bi-eye"></i></a>
                </div>
            </div>
            <div class="product-image">
                <img src="{{ product.image.url }}" loading="lazy" alt=""
                     class="img-fluid one-image">
                <img src="assets/image/product/wach2.jpg" loading="lazy" alt=""
                     class="img-fluid two-image">
            </div>
            <div class="product-title">
                <div class="title">
                    <p class="text-overflow-1">{{ product.title }}</p>
                    <span class="text-muted text-overflow-1">Mibro Lite XPAW004
                                                Smartwatch</span>
                </div>
                {% if product.averagereview %}
                    <div class="rating">
                        <div class="number"><span class="text-muted font-12">
                                                    {{ product.averagereview|floatformat:1 }}</span>
                        </div>
                        <div class="icon"><i class="bi bi-star-fill"></i></div>
                    </div>
                {% endif %}
            </div>
            <div class="product-action">
                <div class="price">
                    {% if product.discount %}
                        <p class="new-price">{{ product.discount_price }} تومان</p>
                        <p class="old-price">{{ product.price }} تومان</p>
                    {% else %}
                        <p class="new-price">{{ product.price }} تومان</p>
                    {% endif %}
                </div>
                <div class="link">
                    <a href="" class="btn border-0 rounded-3 main-color-one-bg">
                        <i class="bi bi-basket text-white"></i>
                        <span class="text-white">خرید محصول</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div align="center">محصولی با این مشخصات یافت نشد!</div>
{% endfor %}
{% if products.has_other_pages %}
    <div class="col-12">
        <div class="my-paginate my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex-wrap justify-content-center">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-3"
                               href="{% url "product_app:store_order_ajax2" pk products.previous_page_number %}">قبلی</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link rounded-3"
                               href="#">قبلی</a>
                        </li>
                    {% endif %}
                    {% for x in products.paginator.page_range %}
                        {% if products.number == x %}
                            <li class="page-item active"><a class="page-link rounded-3"
                                                            href="{% url "product_app:store_order_ajax2" pk x %}">{{ x }}</a>
                            </li>
                        {% elif x > products.number|add:'-4' and x < products.number|add:'4' %}
                            <li class="page-item"><a class="page-link rounded-3"
                                                     href="{% url "product_app:store_order_ajax2" pk x %}">{{ x }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        {% if products.number < products.paginator.num_pages|add:'-2' %}
                            <li class="page-item active"><a class="page-link rounded-3"
                                                            href="{% url "product_app:store_order_ajax2" pk products.next_page_number %}">بعدی</a>
                            </li>
                        {% elif products.number < products.paginator.num_pages|add:'-3' %}
                            <li class="page-item active"><a class="page-link rounded-3"
                                                            href="{% url "product_app:store_order_ajax2" pk products.next_page_number %}
">بعدی</a>
                            </li>
                        {% else %}
                            <li class="page-item active"><a class="page-link rounded-3"
                                                            href="{% url "product_app:store_order_ajax2" pk products.next_page_number %}">بعدی</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link rounded-3"
                               href="#">بعدی</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}