{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- start content -->
    {% if cart_list.cart %}
        <div class="content">
            <div class="container-fluid">
                <div class="line-step-container d-sm-block d-none">
                    <div class="line-step">
                        <div class="line-step-boxs">
                            <div class="line-step-box complete">
                                <a href="{% url "cart_app:cart_list" %}">
                                    <p>سبد خرید</p>
                                    <div class="icon">
                                        1
                                    </div>
                                </a>
                            </div>
                            <div class="line-step-box disabled">
                                <a href="checkout.html">
                                    <p>جزییات پرداخت</p>
                                    <div class="icon">
                                        2
                                    </div>
                                </a>
                            </div>
                            <div class="line-step-box disabled">
                                <a href="cart.html">
                                    <p>تکمیل سفارش</p>
                                    <div class="icon">
                                        3
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="cart-product">
                    <div class="row gy-4">
                        <div class="col-lg-9">
                            {% for cart in cart_list %}
                                <div class="cart-product-item">
                                    <div class="content-box">
                                        <div class="container-fluid">
                                            <div class="cart-items">
                                                <div class="item">
                                                    <div class="row gy-2">
                                                        <div class="col-2 w-100-in-400">
                                                            <div class="image">
                                                                <img src="{{ cart.product.image.url }}" alt="Image"
                                                                     class="img-fluid">
                                                            </div>
                                                        </div>
                                                        <div class="col-10 w-100-in-400">
                                                            <div class="d-flex justify-content-between align-items-start">
                                                                <div class="d-flex align-items-start flex-column me-2">
                                                                    <div class="title d-flex align-items-center flex-wrap">
                                                                        <h6 class="font-16">{{ cart.product.title }}<span
                                                                                class="badge ms-2 danger-label rounded-pill">
                                                                    {{ cart.product.discount }}%</span>
                                                                        </h6>
                                                                    </div>
                                                                    <div class="cart-item-feature d-flex align-items-center flex-wrap mt-3">
                                                                        <div class="item d-flex align-items-center">
                                                                            <div class="icon"><i class="bi bi-shop"></i>
                                                                            </div>
                                                                            <div class="saller-name mx-2">فروشنده:</div>
                                                                            <div class="saller-name text-muted">ایران
                                                                                موبایل
                                                                            </div>
                                                                        </div>
                                                                        <div class="item d-flex align-items-center">
                                                                            <div class="icon"><i
                                                                                    class="bi bi-palette2"></i>
                                                                            </div>
                                                                            <div class="saller-name mx-2">رنگ:</div>
                                                                            <div class="saller-name text-muted">
                                                                                <div class="product-meta-color-items mt-0">
                                                                                    <label class="btn-light mb-0 px-2 py-1"
                                                                                           for="option1">
                                                                                        <span style="background-color: {{ cart.color }};"></span>
                                                                                        {{ cart.color }}
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="remove danger-label">
                                                                    <a href="{% url "cart_app:cart_list_del" cart.unique_id %}">
                                                                        <i class="bi bi-trash-fill font-25"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="action d-flex flex-wrap justify-content-sm-end justify-content-center align-items-center mt-3">
                                                                <div class="cart-item-feature d-flex align-items-center flex-wrap">
                                                                    {% if cart.product.discount %}
                                                                        {#                                                                    <div class="item d-flex align-items-center me-2">#}
                                                                        {#                                                                        <p class="mb-0 old-price font-16">{{ cart.product.discount_price }}</p>#}
                                                                        {#                                                                    </div>#}
                                                                        <div class="item d-flex align-items-center">
                                                                            <p class="mb-0 new-price font-16">{{ cart.total_price }}
                                                                                تومان</p>
                                                                        </div>
                                                                    {% else %}
                                                                        <div class="item d-flex align-items-center">
                                                                            <p class="mb-0 new-price font-16">{{ cart.total_price }}
                                                                                تومان</p>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="counter">
                                                                    <form action="{% url "cart_app:cart_update" cart.product.id %}"
                                                                          method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="text" name="count" class="counter"
                                                                               value="{{ cart.quantity }}">
                                                                        <input type="hidden" name="color"
                                                                               value="{{ cart.color }}">
                                                                        <br>
                                                                        <button class="btn btn-primary" type="submit">
                                                                            اعمال
                                                                            تغییرات
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-3">
                            <div class="cart-canvases position-sticky top-0">
                                <div class="item">
                                    <div class="factor">
                                        <div class="title">
                                            <div class="d-flex align-items-center">
                                                <img src="{% static "image/shopping-bag.png" %}" class="img-fluid"
                                                     alt="">
                                                <h6 class="font-16">سفارش شما</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex mb-3 align-items-center justify-content-between">
                                            <p class="fw-bold mb-0">محصول</p>
                                            <p class="fw-bold mb-0">قیمت کل</p>
                                        </div>
                                        {% for cart in cart_list %}
                                            <div
                                                    class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                                <p class="mb-0">{{ cart.product.title }}</p>
                                                <p class="mb-0">{{ cart.total_price }} تومان</p>
                                            </div>
                                        {% endfor %}
                                        <div
                                                class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                            <p class="mb-0 fw-bold">تخفیف:</p>
                                            <p class="mb-0">{{ cart.just_discount }} تومان</p>
                                            <!--This cart came from context_processors -->
                                        </div>
                                        <div
                                                class="factor-item p-2 rounded-3 shadow-sm bg-light d-flex align-items-center justify-content-between">
                                            <p class="mb-0 fw-bold">جمع کل:</p>
                                            <p class="mb-0">{{ cart.total }} تومان</p>
                                        </div>
                                        <div class="action mt-3 d-flex align-items-center justify-content-center">
                                            <a href="#" class="btn border-0 main-color-one-bg rounded-3 d-block w-100">تسویه
                                                حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <div class="container-fluid">
                <div class="content-box">
                    <div class="container-fluid">
                        <div class="text-center">
                            <img src="{% static "image/empty-cart (1).svg" %}" style="max-width: 400px;"
                                 alt="سبد خرید شما خالی است!"
                                 class="mx-auto d-block">
                            <h6 class="font-18 mt-4"><a href="{% url "product_app:store" %}">سبد خرید شما خالی است</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}