{% extends "base.html" %}
{% load static %}
{% load templatetags %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row gy-3">
                <div class="col-lg-3">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="side-right-blog">
                                <div class="search-form">
                                    <form action="">
                                        <div class="search-filed">
                                            <input type="text" placeholder="جستجوی مقالات ..."
                                                   class="form-control search-input">
                                            <button type="submit"
                                                    class="btn search-btn main-color-one-bg rounded-pill"><i
                                                    class="bi bi-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="navbar-blog">
                                    <nav class="navbar">
                                        <ul class="navbar-nav">
                                            {% for category in categories %}
                                                <li class="nav-item"><a href="{% url "weblog_app:blog_list" %}"
                                                                        class="nav-link"><i
                                                        class="bi bi-cup-hot font-25 me-3"></i>{{ category.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="side-left-blog">
                        <div class="row gy-3">
                            <div class="col-12">
                                <a href="">
                                    <img src="{% static "image/banner-1.jpg" %}" class="img-fluid shadow-box rounded-4"
                                         alt="">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <div class="blog-news-item">
                                    <a href="">
                                        <img src="assets/image/blog-1.jpg" alt="" class="img-fluid">
                                        <div class="desc">
                                            <h3 class="title">انتخاب هارد اکسنترنال مناسب </h3>
                                            <div class="date">
                                                <span class="text-date">9 مرداد 1402</span>
                                                <i class="bi bi-arrow-left"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog-news-item">
                                    <a href="">
                                        <img src="assets/image/blog-2.jpg" alt="" class="img-fluid">
                                        <div class="desc">
                                            <h3 class="title">بررسی سه پرچمدار شرکت شیائومی</h3>
                                            <div class="date">
                                                <span class="text-date">9 تیر 1402</span>
                                                <i class="bi bi-arrow-left"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="blog-news-item">
                                    <a href="">
                                        <img src="assets/image/blog-4.jpg" alt="" class="img-fluid">
                                        <div class="desc">
                                            <h3 class="title">بررسی سه پرچمدار شرکت شیائومی</h3>
                                            <div class="date">
                                                <span class="text-date">9 تیر 1402</span>
                                                <i class="bi bi-arrow-left"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end header blog -->

        <!-- start top post blog -->

        <div class="blog-slider site-slider site-slider-sm py-20">

            <div class="container-fluid">
                <div
                        class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                    <div class="title d-flex align-items-center">
                        <img src="assets/image/square.png" alt="" class="img-fluid">
                        <h5 class="font-16 ms-3">پربازدید ترین مطالب <span class="main-color-one-color d-inline-block">وبلاگ</span>
                        </h5>
                    </div>
                    <div class="link">
                        <a href="{% url "weblog_app:blog_list" %}?sort=popular"
                           class="border-animate fromCenter pb-1 fw-bold">
                            مشاهده همه
                            <i class="bi bi-chevron-double-left main-color-one-color"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="parent">
                <div class="container-fluid">
                    <div class="swiper" id="product-slider">
                        <div class="swiper-wrapper">
                            {% for blog in popular_blogs %}
                                <div class="swiper-slide">
                                    <div class="blog-item">
                                        <a href="">
                                            <div class="image">
                                                <img src="{{ blog.main_image.url }}" alt="" class="img-fluid">
                                            </div>
                                            <div class="title">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="title-item">
                                                        <i class="bi bi-tag me-1"></i>
                                                        <span class="font-12">{{ blog.category.all }}</span>
                                                    </div>
                                                    <div class="title-item">
                                                        <i class="bi bi-alarm me-1"></i>
                                                        <span class="font-12">{{ blog.created_at|jdate }}</span>
                                                    </div>
                                                </div>
                                                <h4 class="font-16 text-overflow-1 h4">{{ blog.main_title }}
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end slider top post blog -->


        <!-- start video blog -->

        <div class="container-fluid">
            <div
                    class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                <div class="title d-flex align-items-center">
                    <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                    <h5 class="font-16 ms-3">آخرین ویدیوهای <span
                            class="main-color-one-color d-inline-block">وبلاگ</span>
                    </h5>
                </div>
                <div class="link">
                    <a href="{% url "weblog_app:blog_list" %}?sort=video"
                       class="border-animate fromCenter pb-1 fw-bold">
                        مشاهده همه
                        <i class="bi bi-chevron-double-left main-color-one-color"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row gy-3">
                <div class="col-lg-3">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="side-right-blog">
                                <div class="navbar-video">
                                    <nav class="navbar">
                                        <ul class="navbar-nav">
                                            {% for blog in new_videos|slice:3 %}
                                                <li class="nav-item">
                                                    <a href="{% url "weblog_app:blog_detail_video" blog.slug %}" class="nav-link">
                                                        <div class="video-blog-item">
                                                            <div class="image">
                                                                <img src="{{ blog.main_image.url }}" class="img-fluid"
                                                                     alt="">
                                                            </div>
                                                            <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                                <h5 class="title">{{ blog.main_title }}</h5>
                                                                <div class="d-flex align-items-center">
                                                                    <p class="text-muted mb-0">{{ blog.created_at|jdate }}</p>
                                                                    <div class="text-end ms-2"><i
                                                                            class="bi bi-arrow-left main-color-one-color"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="side-left-blog">
                        <div class="row gy-3">
                            {% for blog in new_videos %}
                                <div class="col-md-3">
                                <div class="tv-blog-item">
                                    <a href="{% url "weblog_app:blog_detail_video" blog.slug %}">
                                        <img src="{{ blog.main_image.url }}" alt="" class="img-fluid">
                                        <div class="desc">
                                            <h3 class="title">{{ blog.main_title }}</h3>
                                            <div class="date">
                                                <span class="text-date">{{ blog.created_at|jdate }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end video blog -->

        <!-- start latest post  -->

        <div class="gird-post-blog py-20">

            <div class="container-fluid">
                <div
                        class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-between flex-wrap">
                    <div class="title d-flex align-items-center">
                        <img src="{% static "image/square.png" %}" alt="" class="img-fluid">
                        <h5 class="font-16 ms-3">آخرین مطالب <span
                                class="main-color-one-color d-inline-block">وبلاگ</span>
                        </h5>
                    </div>
                    <div class="link">
                        <a href="{% url "weblog_app:blog_list" %}?sort=latest"
                           class="border-animate fromCenter pb-1 fw-bold">
                            مشاهده همه
                            <i class="bi bi-chevron-double-left main-color-one-color"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row gy-3">
                    {% for blog in latest %}
                        <div class="col-lg-3">
                            <div class="blog-item">
                                <a href="{% url "weblog_app:detail_blog" blog.slug %}">
                                    <div class="image">
                                        <img src="{{ blog.main_image.url }}" alt="" class="img-fluid">
                                    </div>
                                    <div class="title">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="title-item">
                                                <i class="bi bi-tag me-1"></i>
                                                <span class="font-12">{{ blog.category.all.0 }} {{ blog.category.all.1 }}</span>
                                            </div>
                                            <div class="title-item">
                                                <i class="bi bi-alarm me-1"></i>
                                                <span class="font-12">{{ blog.created_at|jdate }}</span>
                                            </div>
                                        </div>
                                        <h4 class="font-16 text-overflow-1 h4">{{ blog.main_title }}
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}